#aman2{
    text-align: center;
    color: blue;
}
#SUBMIT{
    text-align: center;
    color: blue;
}
h1{
    text-align: center;
}
.cls{
    margin-right: 32px;
    padding-right: 32px;
}
#img{
    margin-left: 500px;
}
.txt{
    font-size: xx-large;
    
}
.aman23{
    font-size: xx-large;
}
#span{
    font-size: x-large;
}
#spn{
    font-size: x-large;
}
/* #head{
    text-decoration: dashed; }*/
.btn{
    text-align: center;
    color: blue;
}
.btn{
    text-align: center;
    color: blue;
}